* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url('img/app-background.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 0;
}

#main {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

#header,
.movie-title {
    font-family: 'Kaushan Script', cursive;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    align-content: center;
    padding: 10px 30px;
    width: 100%;
    text-align: center;
    background: #fff;
    color: #000;
    box-shadow: 0px 5px 15px #000;
}

#header h2 {
    text-shadow: 15px 12px 14px #000;
}

#header img {
    width: 45px;
    height: 38px;
}

.enter-site-section-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-contain {
    display: flex;
    justify-content: center;
    align-items: center;
}

#js-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#js-form input {
    text-align: center;
    padding: 20px 50px; 
    font-size: 16px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}

#enter,
.submit-btn {
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 4px;
    background: #fff;
    color: #000;
    box-shadow: 2px 2px 5px #000;
    font-size: 20px;
}

#enter:hover,
.submit-btn:hover {
    border: 2px solid white;
    box-shadow: 5px 5px 7px #000;
    transition: all 1s;
    cursor: pointer;
    background: transparent;
}

.response-container,
.popular-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
}

.popular-container h2 {
    font-family: 'Orienta', sans-serif;
    text-align: center;
    font-size: 20px;
    background: #93291E;
    box-shadow: 0 6px 10px #000;
    margin-top: 60px;
    text-align: center;
}

.poster-and-summary-container .poster-and-summary {
    padding: 0 20px;
}

.poster-and-summary {
    text-align: center;
    font-family: 'Orienta', sans-serif;
    text-align: left;
}

.poster-and-summary p {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
}

.poster {
    text-align: center;
}

.poster img {
    border: 1px solid #000;
    box-shadow: 2px 2px 4px #000;
}

.cast-list {
    padding: 0;
}

.cast,
.pop-cast {
    list-style: none;
    padding: 5px 0;
}

.movie-trailer iframe {
    width: 315px;
    height: 200px;
    box-shadow: 5px 5px 5px #000;
}

.popular-movies-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 70px 10px;
}

.popular-movies-btn,
.new-search {
    border: 2px solid white;
    border-radius: 7px;
    background: white;
    color: black;
    padding: 15px 20px;
    margin: 5px;
    box-shadow: 2px 2px 2px #000;
}

.popular-movies-btn:hover,
.new-search:hover {
    border: 2px solid red;
    background: red;
    color: white;
    cursor: pointer;
    transition: all 1s;
    box-shadow: 7px 7px 10px #000;
}

.pop-header {
    background: white;
    color: black;
}

.movie-title h3 {
    text-align: center;
}

#footer {
    width: 100%;
    background: #fff;
    color: #000;
    border-top: 2px solid #000;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

@media screen and (min-width: 600px) {
    .poster-and-summary-container {
        display: flex;
        padding: 0 15px;
        margin-bottom: 40px;
    }

    .movie-title {
        font-size: 28px;
    }

    .poster-and-summary p {
        font-size: 14px;
        text-align: left;
    }

    .poster-and-summary-container ul {
        padding: 0;
        font-size: 12px;
    }

    .poster-and-summary-container .cast {
        text-align: left;
        padding: 4px 0;
    }

    .movie-trailer {
        width: 100%;
        text-align: center;
    }

    .movie-trailer iframe {
        width: 95%;
        height: 330px;
        box-shadow: 5px 5px 5px #000;
    }

    .popular-container h2 {
        padding: 15px 20px;
    }
}

@media screen and (min-width: 800px) {
   
    body {
        background: url('img/theatre.jpg') no-repeat;
        background-size: cover;
    }

    .poster-and-summary {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .movie-trailer iframe {
        width: 75%;
        height: 450px;
        box-shadow: 5px 5px 5px #000;
    }

    #header {
        background: #fff;
        color: #000;
        text-shadow: 15px 12px 0px whitesmoke;
        width: 100%;
        text-align: center;
    }

    #header h1 {
        font-size: 50px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #enter .submit-btn {
        margin-top: 20px;
        border: 2px solid #fff;
        background: #fff;
        color: #000;
        box-shadow: 2px 2px 5px #000;
        font-size: 20px;
    }

    .popular-movies-btn-container {
        flex-direction: row;
    }

    .popular-container h2 {
        padding: 15px 20px;
    }
    
}

@media screen and (min-width: 1200px) {

    body {
        background: url('img/theatre.jpg') no-repeat;
        background-size: cover;
        /* position: fixed; */
    }

    #header img {
        width: 55px;
        height: 48px;
    }

    #js-search-movie {
        padding: 20px 50px;
        font-size: 20px;
    }

    .response-container,
    .popular-container {
        width: 85%;
        margin: auto;
    }

    .popular-container h2 {
        background: #93291E;
        padding: 10px 20px;
        width: 100%;
        text-align: center;
    }

    .poster-and-summary p {
        margin-top: 0;
        font-size: 22px;
    }

    .enter-site-section-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .movie-trailer iframe {
        width: 96%;
    }

    #enter,
    .submit-btn {
        padding: 15px 50px;
        margin-top: 20px;
        border: 2px solid #fff;
        background: #fff;
        color: #000;
        box-shadow: 2px 2px 5px #000;
        font-size: 20px;
    }

    #enter:hover, 
    .submit-btn:hover {
        box-shadow: 10px 10px 10px #000;
        padding: 18px 53px;
    }
}

@media screen and (min-width: 1400px) {
    .movie-trailer iframe {
        height: 630px;
    }
}