* {
    box-sizing: border-box;
}

body {
    background: url('img/app-background.jpg') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.main-contain {
    display: flex;
    justify-content: center;
    align-items: center;
}

#js-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#js-form input {
    text-align: center;
}

.hidden {
    display: none;
}

#enter,
.submit-btn {
    padding: 5px 15px;
    margin-top: 20px;
    border: 2px solid red;
    background: transparent;
    color: white;
}

#enter:hover,
.submit-btn:hover {
    background: red;
    border: 2px solid white;
    transition: all 1s;
    cursor: pointer;
}

.response-container,
.popular-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
}

.response-container p,
.popular-container p {
    padding: 0 20px;
    text-align: justify;
}

.response-container {
    margin-bottom: 40px;
}

.pop-header {
    background: white;
    color: black;
}

